<%- include("header") -%> 
<h1>About me</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  Vivamus ultricies risus ac malesuada tempus. 
  Vestibulum eu erat sit amet tortor viverra pretium ut vel ipsum. 
  Proin aliquam sed justo non pellentesque. 
  Nullam rhoncus, lorem maximus egestas blandit, nisl lacus posuere neque, in sodales sem ex sodales risus. 
  Mauris cursus volutpat lacinia. 
  Fusce in ipsum non metus volutpat posuere. 
  In elementum consectetur urna id suscipit. 
  Morbi id condimentum nulla. 
  Phasellus id pretium quam. 
  Nullam posuere ultrices enim eu auctor. 
  Etiam sit amet odio enim. 
  Aenean consequat id nisi vel tempus. 
  Donec nulla ex, fermentum ut neque eget, facilisis tincidunt justo. 
  Aliquam sit amet risus ante. Suspendisse non ullamcorper mi.
</p>
<%- include("footer") -%> 